<% include partials/header %>
<h1>Sign Up</h1>
<form action="/register" method="POST">
	<input name="username" placeholder="username" type="text">
	<input name="password" placeholder="password" type="password">
	<button>Sign Up</button>
</form>

<p><a href="/login">Login</a><p>
<% include partials/footer %>